/* Navigation Bar */

.topNavigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
    height: 3em;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: white;
    text-transform: lowercase;
    font-family: "Inknut Antiqua, serif";
    font-size: 1.5rem;
}

.topNavigation a {
    display: flex;
    align-items: center;
}

.logo {
    width: 3rem;
    margin: auto;
}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLinks a:after {
    content: "●";
    font-size: 1.5rem;
    padding: 0 1.5rem;
    cursor: auto;
}

.navLinks a:last-child:after {
    content: none;
    padding: 0;
}

.hamburgerIcon {
    display: none;
}

// .hamburgerIcon {
//     height: 4rem;
//     width: 4rem;
// }

.navLinksMini {
    display: none;
}

@media (max-width: 480px) {
    .navLinks {
        display: none;
    }

    .navLinksMini {
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 0em;
        margin: 0;
        left: 0;
        top: 3em;
        position: fixed;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        transition: ease;
        transition-duration: 0.5s;
        overflow: hidden;
    }

    .open {
        height: 8em;
        visibility: visible;
        transition: ease;
        transition-duration: 0.5s;
    }

    .navLinksMini a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5em;
    }

    .hamburgerIcon {
        display: block;
    }

    .hamburger {
        cursor: pointer;
        // width: 100%;
        // height: 100%;
        width: 3rem;
        margin: auto;
        transform: scale(2);
    }
}
