/* ABOUT PAGE CONTENT */

.aboutContent {
    padding: 5rem 0;
    text-align: center;
}

.aboutContentTitle {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}

.aboutContentText {
    font-size: 1rem;
    padding: 0 10rem;
}
