/* Navigation Bar */

.topNavigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.9);
    height: 3em;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: white;
    text-transform: lowercase;
    font-family: "Inknut Antiqua, serif";
    font-size: 1.5rem;
}

.topNavigation a {
    display: flex;
    align-items: center;
}

.logo {
    width: 3rem;
    margin: auto;
}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLinks a:after {
    content: "●";
    font-size: 1.5rem;
    padding: 0 1.5rem;
    cursor: auto;
}

.navLinks a:last-child:after {
    content: none;
    padding: 0;
}

.hamburgerIcon {
    display: none;
}

.hamburgerIcon {
    height: 4rem;
    width: 4rem;
}

.navLinksMini {
    display: none;
}

@media (max-width: 480px) {
    .navLinks {
        display: none;
    }

    .navLinksMini {
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 0em;
        margin: 0;
        left: 0;
        top: 3em;
        position: fixed;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        transition: ease;
        transition-duration: 0.5s;
        overflow: hidden;
    }

    .open {
        height: 8em;
        visibility: visible;
        transition: ease;
        transition-duration: 0.5s;
    }

    .navLinksMini a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5em;
    }

    .hamburgerIcon {
        display: block;
    }

    .hamburger {
        cursor: pointer;
        width: 100%;
        height: 100%;
    }
}

/* HOME PAGE CONTENT */

.homeContent {
    letter-spacing: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;
    min-height: 100vh;
    text-transform: lowercase;
    font-family: "Inknut Antiqua, serif";
    font-size: 3.5rem;
    object-fit: cover;
    background-image: linear-gradient(
            120deg,
            rgba(255, 255, 255, 0.95),
            rgba(255, 255, 255, 0.15)
        ),
        url(https://www.pngkey.com/png/full/434-4345150_ink-splatter-ink.png);
}

.homeContent div {
    padding: 0 12%;
    line-height: 1.5;
}

.homeContentTitle {
    font-weight: bold;
    margin: 0;
}

.homeContentText {
    font-size: 2rem;
}

.homeContentButtonContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.homeContentButton {
    background-color: black;
    color: white;
    border: none;
    padding: 1rem 2rem;
    text-transform: lowercase;
    font-family: "Inknut Antiqua, serif";
    font-size: 1.5rem;
    border-radius: 50px;
}

@media screen and (max-width: 780px) {
    .homeContent {
        letter-spacing: 0.13rem;
    }
    .homeContent div {
        padding: 0 5rem;
    }
    .homeContentTitle {
        font-size: 2.5rem;
    }
    .homeContentText {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .homeContent {
        letter-spacing: 0.1rem;
    }
    .homeContent div {
        padding: 0 2rem;
    }
    .homeContentTitle {
        font-size: 2rem;
    }
    .homeContentText {
        font-size: 1.2rem;
    }
}

// BUTTON FLIP ANIMATION

$speed: 0.5s;

.btnFlip {
    background-color: #fff;
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: "Open Sans";
    text-transform: lowercase;

    &:hover {
        &:after {
            opacity: 1;
            transform: translateY(0) rotateX(0);
        }

        &:before {
            opacity: 0;
            transform: translateY(50%) rotateX(90deg);
        }
    }

    &:after {
        height: 4rem;
        border-radius: 50px;
        font-size: 2.5rem;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $speed;
        position: absolute;
        background: #adadaf;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
        filter: brightness(1.2);
    }

    &:before {
        height: 4rem;
        border-radius: 50px;
        font-size: 2.5rem;
        top: 0;
        left: 0;
        opacity: 1;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        line-height: 40px;
        transition: $speed;
        position: relative;
        background: #000;
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
    }
}

@media screen and (max-width: 780px) {
    .btnFlip {
        &:before {
            height: 3rem;
            font-size: 1.5rem;
        }
        &:after {
            height: 3rem;
            font-size: 1.5rem;
        }
    }
}
