.topNavigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);
  height: 4rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  color: white;
  text-transform: lowercase;
  font-family: "Inknut Antiqua, serif";
  font-size: 1.5rem;
}

.topNavigation a {
  display: flex;
  align-items: center;
}

.logo {
  width: 3rem;
  margin: auto;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 2rem;
}

.navLinks a:after {
  content: "●";
  font-size: 1.5rem;
  padding: 0 1.5rem;
  cursor: auto;
}

.navLinks a:last-child:after {
  content: none;
  padding: 0;
}

.hamburgerIcon {
  display: none;
}

.hamburgerIcon {
  height: 4rem;
  width: 4rem;
}

@media (max-width: 480px) {
  .navLinks {
    display: none;
  }
  .hamburgerIcon {
    display: block;
  }

  .hamburger {
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
}

/* HOME PAGE CONTENT */

.homeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  min-height: 100vh;
  text-transform: lowercase;
  font-family: "Inknut Antiqua, serif";
  font-size: 3.5rem;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url(https://www.pngkey.com/png/full/434-4345150_ink-splatter-ink.png);
}

.homeContent div {
  padding: 0 15%;
  line-height: 1.5;
}

.homeContentTitle {
  font-weight: bold;
  margin: 0;
}

.homeContentText {
  font-size: 2rem;
}

.homeContentButton {
  background-color: black;
  color: white;
  border: none;
  padding: 1rem 2rem;
  text-transform: lowercase;
  font-family: "Inknut Antiqua, serif";
  font-size: 1.5rem;
  border-radius: 50px;
}

.homeContentButton:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transform: rotate(10deg) scale(1.5);
}

@media screen and (max-width: 480px) {
  .homeContent div {
    padding: 0 2rem;
  }
  .homeContentTitle {
    font-size: 2rem;
  }
  .homeContentText {
    font-size: 1.2rem;
  }
  .homeContentButtonContainer {
    display: flex;
    align-items: center;
    padding-top: 3rem;
  }
  .homeContentButton {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }
}
