/* HOME PAGE CONTENT */

.homeContent {
    letter-spacing: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;
    min-height: 100vh;
    text-transform: lowercase;
    font-family: "Inknut Antiqua, serif";
    font-size: 3.5rem;
    object-fit: cover;
    background-image: linear-gradient(
            120deg,
            rgba(255, 255, 255, 0.95),
            rgba(255, 255, 255, 0.15)
        ),
        url(https://www.pngkey.com/png/full/434-4345150_ink-splatter-ink.png);
}

.homeContent div {
    padding: 0 12%;
    line-height: 1.5;
}

.homeContentTitle {
    font-weight: bold;
    margin: 0;
}

.homeContentText {
    font-size: 2rem;
}

.homeContentButtonContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.homeContentButton {
    background-color: black;
    color: white;
    border: none;
    padding: 1rem 2rem;
    text-transform: lowercase;
    font-family: "Inknut Antiqua, serif";
    font-size: 1.5rem;
    border-radius: 50px;
}

@media screen and (max-width: 780px) {
    .homeContent {
        letter-spacing: 0.13rem;
    }
    .homeContent div {
        padding: 0 5rem;
    }
    .homeContentTitle {
        font-size: 2.5rem;
    }
    .homeContentText {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .homeContent {
        letter-spacing: 0.1rem;
    }
    .homeContent div {
        padding: 0 2rem;
    }
    .homeContentTitle {
        font-size: 2rem;
    }
    .homeContentText {
        font-size: 1.2rem;
    }
}

// BUTTON FLIP ANIMATION

$speed: 0.5s;

.btnFlip {
    background-color: #fff;
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: "Open Sans";
    text-transform: lowercase;

    &:hover {
        &:after {
            opacity: 1;
            transform: translateY(0) rotateX(0);
        }

        &:before {
            opacity: 0;
            transform: translateY(50%) rotateX(90deg);
        }
    }

    &:after {
        height: 4rem;
        border-radius: 50px;
        font-size: 2.5rem;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $speed;
        position: absolute;
        background: #adadaf;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
        filter: brightness(1.2);
    }

    &:before {
        height: 4rem;
        border-radius: 50px;
        font-size: 2.5rem;
        top: 0;
        left: 0;
        opacity: 1;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        line-height: 40px;
        transition: $speed;
        position: relative;
        background: #000;
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
    }
}

@media screen and (max-width: 780px) {
    .btnFlip {
        &:before {
            height: 3rem;
            font-size: 1.5rem;
        }
        &:after {
            height: 3rem;
            font-size: 1.5rem;
        }
    }
}
